<h4>Add New Stage</h4>
<form class="" action="/" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" type="text" name="name">
    <label for="location">Location</label>
    <input class="form-control" type="text" name="location">
    <label for="genre">Genre</label>
    <input class="form-control" type="text" name="genre">
    <button class="btn" type="submit" name="button">Enter</button>
  </div>
</form>
