<h4>Stage Name: <%= @stage.name %></h4>
<h4>Location: <%= @stage.location %></h4>
<h4>Genre: <%= @stage.genre %></h4>

<h3>Artists</h3>

<p><a href="/stages/<%= @stage.id %>/edit">Edit Stage Info</a></p>
<a href="/">Return to stage list</a>
